body {
	font-family: Comic Sans MS;
}

.value {
	font-size: 8pt;
	color: black;
}

th {
	font-weight: bold;
	font-size: 9pt;
	text-align: left;
	padding: 2 2 2 2;
	background-color: #e3e3e3;
}

.header {
	font-weight: bold;
	font-size: 9pt;
	text-align: left;
	padding: 2 2 2 2;
	background-color: #e3e3e3;
}

.shading {
	background-color: #F4F4F4;  
}

.title {
  font-size : 16pt;
  font-weight: bold;
  text-align: center;
}
