.item-page {
  margin-bottom: 40px;
}
.items-leading .leading {
  margin-bottom: 40px;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 20px 0 40px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.article-aside {
  color: #999999;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 0;
}
.article-header + .article-aside {
  margin-top: -10px;
}
.article-header {
  display: flex;
  align-items: flex-start;
}
.article-header .label {
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  padding: 4px 6px;
}
.item-page .article-aside {
  font-size: 14px;
  margin-bottom: 40px;
}
.article-info {
  margin: 0;
  width: 85%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.article-info dd strong {
  font-weight: 600;
}
.article-info dd .fa {
  margin-right: 5px;
}
.category-name {
  text-transform: capitalize;
}
.category-name .fa {
  display: none;
}
.category-name a {
  background: #0077bb;
  color: #fff;
  padding: 2px 5px;
}
.category-name a:hover,
.category-name a:focus,
.category-name a:active {
  background: #00466e;
  color: #fff;
  text-decoration: none;
}
.article-footer {
  color: #999999;
  font-size: 12px;
  margin-bottom: 20px;
}
article img,
.article-intro img {
  display: block;
  max-width: 100%;
  height: auto;
}
article img[align="left"],
.article-intro img[align="left"],
article .img-fulltext-left,
.article-intro .img-fulltext-left,
article .img-intro-left,
.article-intro .img-intro-left,
article .img_caption.left,
.article-intro .img_caption.left,
article .pull-left.item-image,
.article-intro .pull-left.item-image {
  margin-right: 20px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  article img[align="left"],
  .article-intro img[align="left"],
  article .img-fulltext-left,
  .article-intro .img-fulltext-left,
  article .img-intro-left,
  .article-intro .img-intro-left,
  article .img_caption.left,
  .article-intro .img_caption.left,
  article .pull-left.item-image,
  .article-intro .pull-left.item-image {
    margin: 0 0 20px;
  }
}
article img[align="right"],
.article-intro img[align="right"],
article .img-fulltext-right,
.article-intro .img-fulltext-right,
article .img_caption.right,
.article-intro .img_caption.right,
article .img-intro-right,
.article-intro .img-intro-right,
article .pull-right.item-image,
.article-intro .pull-right.item-image {
  margin-left: 20px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  article img[align="right"],
  .article-intro img[align="right"],
  article .img-fulltext-right,
  .article-intro .img-fulltext-right,
  article .img_caption.right,
  .article-intro .img_caption.right,
  article .img-intro-right,
  .article-intro .img-intro-right,
  article .pull-right.item-image,
  .article-intro .pull-right.item-image {
    margin: 0 0 20px;
  }
}
article .pull-none.item-image img,
.article-intro .pull-none.item-image img {
  width: 100%;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
}
.img-fulltext-right {
  float: right;
}
.img_caption > img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eeeeee;
  color: #666666;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
.pull-right.article-image-intro {
  float: left !important;
  margin-left: 0 !important;
}
.pull-right.article-image-intro img {
  margin-left: 0 !important;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  article img,
  .article-intro img,
  article img[align=left],
  .article-intro img[align=left],
  article img[align=right],
  .article-intro img[align=right],
  article .img_caption,
  .article-intro .img_caption,
  article .article-image-full,
  .article-intro .article-image-full,
  article .article-image-intro,
  .article-intro .article-image-intro,
  article .img-intro-none,
  .article-intro .img-intro-none,
  article .img-intro-left,
  .article-intro .img-intro-left,
  article .img-intro-right,
  .article-intro .img-intro-right,
  article .img-fulltext-none,
  .article-intro .img-fulltext-none,
  article .img-fulltext-left,
  .article-intro .img-fulltext-left,
  article .img-fulltext-right,
  .article-intro .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
.item-page .tags {
  border-top: 1px solid #eeeeee;
  padding: 10px 0;
}
.item-page .tags span {
  display: inline-block;
  margin-bottom: 10px;
}
.item-page .tags a {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  color: #666666;
  padding: 5px;
}
.item-page .tags a:hover,
.item-page .tags a:focus,
.item-page .tags a:active {
  background: #999999;
  border-color: #999999;
  color: #00466e;
}
.archive .filters {
  margin: 0 0 20px;
}
#archive-items article {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#archive-items article h2.article-title {
  font-size: 24px;
  line-height: 1.3;
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  padding: 2px 5px;
}
article aside .btn-group > .dropdown-toggle .caret {
  margin-left: 2px;
}
.tag-category .filters {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0;
}
.tag-category .filters #filter-search {
  float: left;
}
.tag-category .filters.btn-toolbar > .btn-group {
  margin-left: 0;
}
.tag-category .thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tag-category .thumbnails li {
  background: transparent;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}
.tag-category .thumbnails li > h3 {
  margin-top: 0;
}
.tag-category .com-tags-filter-field-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.tag-category .com-tags-filter-field-wrap .btn-group {
  display: flex;
  margin-right: 0;
}
.readmore {
  margin-top: 20px;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #dddddd;
}
.row-odd {
  background-color: transparent;
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  margin-left: 0;
  padding-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #dddddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #dddddd;
}
.login-wrap .other-links ul {
  padding-left: 20px;
}
#jform_privacyconsent_privacy-lbl a.modal,
#jform_consentbox-lbl a.modal,
#jform_terms_terms-lbl a.modal,
#jform_profile_tos-lbl a.modal {
  display: inline-block;
  position: relative;
}
#jform_terms_terms input[type="radio"],
#jform_privacyconsent_privacy input[type="radio"],
#jform_consentbox input[type="radio"],
#jform_profile_tos input[type="radio"],
#jform_terms_terms input[type="checkbox"],
#jform_privacyconsent_privacy input[type="checkbox"],
#jform_consentbox input[type="checkbox"],
#jform_profile_tos input[type="checkbox"] {
  position: relative;
  margin: 0;
  margin-right: 5px;
  width: auto;
}
#jform_terms_terms label,
#jform_privacyconsent_privacy label,
#jform_consentbox label,
#jform_profile_tos label {
  margin-right: 10px;
  padding: 0;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt {
  margin-right: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
.com_mailto body {
  padding: 10px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 0;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.profile-edit input {
  position: relative;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
@media (min-width: 768px) {
  .profile-edit input {
    float: left;
    width: 50%;
  }
}
.profile-edit select {
  position: relative;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
@media (min-width: 768px) {
  .profile-edit select {
    float: left;
    width: 50%;
  }
}
.profile-edit select + button {
  margin-left: 5px;
}
#searchForm:before,
#searchForm:after {
  display: table;
  content: " ";
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
#searchForm select {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
}
#searchForm .form-limit {
  margin-top: 20px;
}
#searchForm .form-limit .counter {
  margin-top: 0;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #0077bb;
}
@media screen and (max-width: 768px) {
  #searchForm .radio-inline,
  #searchForm .checkbox-inline {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
.search-results {
  margin-top: 20px;
}
.search-results .result-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 12px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-url {
  color: #666666;
  margin-top: 20px;
}
.search-results .result-created {
  font-size: 12px;
  color: #999999;
}
div.finder {
  margin-bottom: 20px;
}
div.finder .input-group {
  display: flex;
}
div.finder .input-group input {
  flex: 1;
}
div.finder .com-finder__tips {
  margin-top: 20px;
}
#finder-filter-window {
  margin-top: 20px;
}
#finder-filter-window #finder-filter-select-dates {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  #finder-filter-window #finder-filter-select-dates {
    grid-template-columns: repeat(2, 1fr);
  }
}
#finder-filter-window #finder-filter-select-dates .filter-date {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
  width: 100%;
}
#finder-filter-window #finder-filter-select-dates .filter-date label {
  flex-basis: 100%;
}
#finder-filter-window #finder-filter-select-dates .filter-date select.inputbox {
  margin: 0;
  width: 100% !important;
  max-width: unset;
}
#finder-filter-window #finder-filter-select-dates .filter-date .field-calendar {
  width: 100%;
}
#finder-filter-window #finder-filter-select-dates .filter-date .field-calendar .form-control {
  flex: 1;
  max-width: unset;
  width: 100%;
}
#finder-filter-window #finder-filter-select-dates .filter-date .chzn-container {
  margin-bottom: 6px;
}
#finder-filter-window #finder-filter-select-dates .filter-date br {
  display: none;
}
#finder-filter-window .filter-branch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
@media (min-width: 1200px) {
  #finder-filter-window .filter-branch {
    flex-direction: row;
  }
}
#finder-filter-window .filter-branch .control-label {
  padding: 0;
  margin-bottom: 10px;
}
#finder-filter-window .filter-branch .controls {
  margin-left: 0;
}
#finder-filter-window .filter-branch .controls select {
  color: #9e9e9e;
  width: 100%;
}
.contact .contact-form .checkbox input#jform_contact_email_copy {
  margin-left: 0;
}
.contact .thumbnail {
  padding: 4px;
}
.contact dd::after {
  display: none;
}
.contact .icon-address::before {
  content: '\f02d';
}
.contact .icon-fax::before {
  content: '\f109';
}
.contact .accordion-heading .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items .intro {
  clear: both;
  overflow: hidden;
}
.categories-list {
  margin-bottom: 20px;
}
.contact-category ul.category {
  border-top: 0;
  overflow: hidden;
}
.contact-category ul.category li.row-fluid {
  border: 1px solid #eeeeee;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
.contact-category ul.category li.row-fluid:before,
.contact-category ul.category li.row-fluid:after {
  display: table;
  content: " ";
}
.contact-category ul.category li.row-fluid:after {
  clear: both;
}
.contact-category ul.category li.row-fluid > div {
  margin: 0;
}
.contact-category .cat-children ul {
  border: 0;
  border-top: 1px solid #eeeeee;
}
.contact-category .cat-children ul li {
  background: transparent;
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0 5px 0;
}
.contact-category .cat-children ul li h4 {
  border-left: 1px dotted #999999;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  padding-left: 15px;
  margin-left: 20px;
  position: relative;
}
.contact-category .cat-children ul li h4:after {
  border-top: 1px dotted #999999;
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 1px;
  width: 10px;
}
.contact-category .cat-children ul li li h4 {
  margin-left: 40px;
}
.contact-category .cat-children ul li li li h4 {
  margin-left: 60px;
}
.contact-category .cat-children ul li li li li h4 {
  margin-left: 80px;
}
.contact-category .cat-children ul li:last-child {
  border: 0;
}
.category-item:before,
.category-item:after {
  display: table;
  content: " ";
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.category-item .category-item {
  margin-bottom: 0;
  margin-left: 40px;
}
.category-item .category-item .page-header {
  font-size: 14px;
}
.cat-children .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 20px;
}
.newsfeed-category .category li:before,
.newsfeed .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  display: table;
  content: " ";
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 20px;
  font-size: 16px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 14px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 16px;
}
.article-content .pagination ul {
  border-left: 1px solid #eeeeee;
}
.article-content .pagination li {
  float: left;
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #eeeeee;
  border-left: 0;
}
.article-content .pagination li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 20px;
  font-weight: bold;
}
#article-index,
.article-index {
  margin: 0 0 20px 20px;
  padding: 10px;
  width: 25%;
  border: 1px solid #eeeeee;
  border-radius: 0;
}
#article-index ul,
.article-index ul {
  margin: 0;
  padding: 0;
  border: 0;
}
#article-index ul > li,
.article-index ul > li {
  border: 0;
  margin-top: 2px;
}
#article-index ul > li > a,
.article-index ul > li > a {
  border: 0;
  padding: 5px;
  border-radius: 0;
}
#article-index ul > .active > a,
.article-index ul > .active > a {
  border: 0;
  background: #0077bb;
  color: #ffffff;
}
#article-index ul > .active > a:hover,
.article-index ul > .active > a:hover,
#article-index ul > .active > a:active,
.article-index ul > .active > a:active,
#article-index ul > .active > a:focus,
.article-index ul > .active > a:focus {
  border: 0;
  background: #0077bb;
  color: #ffffff;
}
.pagenavigation ul.pagination,
.pagenav {
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.pagenavigation ul.pagination > li,
.pagenav > li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenavigation ul.pagination > li.pagenav-prev,
.pagenav > li.pagenav-prev,
.pagenavigation ul.pagination > li.previous,
.pagenav > li.previous {
  margin-right: 10px;
}
.pagenavigation ul.pagination > li.pagenav-next,
.pagenav > li.pagenav-next,
.pagenavigation ul.pagination > li.next,
.pagenav > li.next {
  margin-left: auto;
}
.pagenavigation ul.pagination li > a,
.pagenav li > a {
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #dddddd;
  border-radius: 0;
}
.pagenavigation ul.pagination li > a:hover,
.pagenav li > a:hover,
.pagenavigation ul.pagination li > a:active,
.pagenav li > a:active,
.pagenavigation ul.pagination li > a:focus,
.pagenav li > a:focus {
  background-color: #eeeeee;
}
.items-more h3 {
  margin: 0 0 20px;
}
.items-more .nav > li {
  border-top: 1px solid #eeeeee;
}
.items-more .nav > li > a {
  padding: 6px 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0 5px;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.alert-message {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-message hr {
  border-top-color: #c9e2b3;
}
.alert-message .alert-link {
  color: #356635;
}
.alert-notice {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #2d6987;
}
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #953b39;
}
.alert-error .alert-message {
  background: transparent;
  color: inherit;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
@media (min-width: 768px) {
  .languageswitcherload {
    float: right;
    width: 100%;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
}
div.calendar {
  width: 187px;
}
dl.tabs {
  border-bottom: 1px solid #d9d9d9;
  display: block;
  clear: both;
  margin-bottom: 0;
}
dl.tabs:before,
dl.tabs:after {
  display: table;
  content: " ";
}
dl.tabs:after {
  clear: both;
}
dl.tabs dt.tabs {
  border: 1px solid #d9d9d9;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 5px;
  margin-bottom: -1px;
}
dl.tabs dt.tabs h3 {
  margin: 0;
  font-size: 14px;
}
dl.tabs dt.tabs h3 a {
  color: #444444;
  outline: none;
}
dl.tabs dt.tabs h3 a:hover,
dl.tabs dt.tabs h3 a:focus,
dl.tabs dt.tabs h3 a:active {
  color: #00466e;
  text-decoration: none;
}
dl.tabs dt.tabs.open {
  border-bottom-color: #ffffff;
}
dl.tabs dt.tabs.open a {
  font-weight: bold;
}
.iframe-bordered {
  border: 1px solid #dddddd;
}
.chzn-container {
  display: inline-block;
  vertical-align: middle;
}
.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices .search-field input,
.chzn-container-single .chzn-search input {
  height: 26px;
}
.chzn-container-single .chzn-drop,
.chzn-container .chzn-drop {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #cccccc;
  height: 26px;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  border-radius: 0 3px 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #cccccc;
}
.btn-group .chzn-results {
  white-space: normal;
}
.js-stools-container-filters .js-stools-field-filter .chzn-single,
.js-stools-container-filters .js-stools-field-filter .chzn-drop {
  border-radius: 0;
}
.js-stools-container-filters .js-stools-field-filter #filter_tag_chzn,
.js-stools-container-filters .js-stools-field-filter #filter_category_id_chzn,
.js-stools-container-filters .js-stools-field-filter #filter_access_chzn,
.js-stools-container-filters .js-stools-field-filter #filter_author_id_chzn {
  width: auto !important;
}
.js-stools-container-filters .js-stools-field-filter #filter_tag_chzn ul li input,
.js-stools-container-filters .js-stools-field-filter #filter_category_id_chzn ul li input,
.js-stools-container-filters .js-stools-field-filter #filter_access_chzn ul li input,
.js-stools-container-filters .js-stools-field-filter #filter_author_id_chzn ul li input {
  width: 208px !important;
  height: 24px !important;
}
.picker {
  background: green !important;
}
.picker .picker__box .picker__header {
  display: flex;
}
.picker .picker__box .picker__header .picker__select--month {
  margin-left: 20px;
}
#glossary-detail .modal-dialog {
  height: 100vh;
  position: relative;
}
#glossary-detail .modal-content {
  padding: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#glossary-detail .modal-content .modal-header {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 0 24px;
}
#glossary-detail .modal-content .modal-header::after,
#glossary-detail .modal-content .modal-header::before {
  display: none;
}
#glossary-detail .modal-content .modal-header .close {
  padding: 6px 10px;
  background-color: #005788;
  color: #fff;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
#glossary-detail .modal-content .modal-header .close:hover {
  opacity: .7;
}
#glossary-detail .modal-content .modal-body {
  margin-top: 24px;
}